.btn {
    width: 100%;
    display: inline-block;
    position: relative;
    overflow: hidden;
    background-color: #f6520a;
    border-color: transparent;
    color: #ffffff;
    border-radius: 4px;
    font-size: 16px;
    font-family: "Outfit", sans-serif;
    font-weight: 700;
    height: 50px;
    line-height: 48px;
    padding: 0px 40px;
    border-width: 0;
    border-style: solid;
    box-shadow: none;
    transition: all 0.3s ease 0s;
    cursor: pointer;
}

.btn:hover {
    color: #ffffff;
    background-color: #0b0b0b;
    border-color: #0b0b0b;
}

.btn:not(:disabled) {
    cursor: pointer;
}

.input:focus {
    border-color: #f6520a!important;
}
